<link rel="stylesheet" href="/footer.css" />
<footer id="footer">
  <div
    class="footer-content"
    style="
      border-bottom: 1px solid rgb(48, 49, 52);
      align-items: flex-start;
      padding-top: 64px;
      margin-bottom: 0px;
    "
  >
    <div style="margin-right: 16px; min-width: 250px;">
      <span>Rice Bot</span>
      <p>Copyright © <span id="date">2020</span> Longshot Dev</p>
    </div>
  </div>
</footer>
