
# Node
node_modules/

# Yarn
yarn-error.log

# ENV
.env.dev
.env.production
.env.test

# Build Directory
dist/
# NodeJS Debugging
isolate-*.log
processed.*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# TypeScript cache
*.tsbuildinfo

# Vscode
.vscode/