<%- include('pieces/header', {bot, user, path}) %>
<link rel="stylesheet" href="/index.css" />
<div>
  <div class="header">
    <div class="header-img" id="particles-js"></div>
    <div class="header-content">
      <div id="typed-strings">
        <p>Rice Bot</p>
      </div>
      <h1 id="title" align="center"></h1>
      <h4 align="center">Dominate the fields.</h4>
      <div class="buttons">
        <div class="wrap-btn">
          <button class="booton" onClick="redirect('dashboard')">
            Add to Server
          </button>
        </div>
        <div class="wrap-btn-alt">
          <button class="booton alt-white" onClick="redirect('#features')">
            Features
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="features" class="main-content">
    <div class="container">
      <h2 align="center">
        Features
      </h2>
      <p class="secondary-content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab sint odio
        a! Aspernatur, hic repellendus! Quasi voluptatum quo ad sed itaque,
        eligendi ut, repellat, alias vel magni possimus est quisquam? Mollitia
        facere tempore eum impedit quis perferendis modi? Minus iste nulla ullam
        expedita incidunt eius est, doloribus nesciunt ut fugiat nisi nihil a
        ratione quidem reprehenderit nostrum asperiores eum adipisci. Deleniti
        aspernatur fugit non enim id nesciunt necessitatibus delectus, ipsa quos
        in nobis corporis neque. Cupiditate dolores modi dolor totam, voluptas
        provident est? Veritatis, recusandae eius. Cumque laboriosam eos optio.
        Eos saepe, possimus ex similique vitae debitis eveniet dicta aut
        asperiores omnis minima veritatis magni ut quis. Itaque tempora a
        repellendus quam, soluta voluptatibus recusandae autem, nesciunt, optio
        non error. Beatae numquam tenetur minima esse aperiam illum odio vel
        dolores maxime, adipisci impedit doloribus nobis error voluptatibus
        itaque dolorum ea consectetur rerum iste consequatur totam repellat
        corporis ex. Sequi, rem!
      </p>
    </div>
    <div class="secondary-main-content">
      <div class="secondary-img"></div>
    </div>
  </div>
</div>
<script>
  var typed = new Typed("#title", {
    stringsElement: "#typed-strings",
    typeSpeed: 300,
    backSpeed: 300,
    loop: true,
    showCursor: false,
    startDelay: 300,
  });

  function redirect(path) {
    window.location.href = path;
  }
  particlesJS.load("particles-js", "/particles.json", function () {
    console.log("callback - particles.js config loaded");
  });
</script>
<%- include('pieces/footer', {bot, user, path}) %>
