.guild-item:hover {
  background-color: #33363a;
  border-radius: 2%;
  cursor: pointer;
}

.guild-item-icon {
  border-radius: 50%;
  margin-left: 10px;
  height: 48px;
  width: 48px;
  align-self: center;
}

.guild-item-span {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  min-height: 64px;
  align-items: flex-start;
}

.guild-item-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  align-self: center;
  margin: 0% 1em;
  overflow: hidden;
}

.guild-item-button {
  margin-left: auto;
  margin-right: 20px;
  align-self: center;
}

.guild-item-icon-div {
  border-radius: 50%;
  margin-left: 10px;
  height: 48px;
  width: 48px;
  align-self: center;
  width: 48px;
  height: 48px;
  color: white;
  font-weight: bold;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-shrink: 0;
  user-select: none;
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-image: initial;
}
